body {
  font-family: Arial, sans-serif;
  background-color: #804747;
  padding: 20px;
}

.container {
  max-width: 700px;
  margin: auto;
  background: rgb(164, 110, 110);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.user-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.error {
  color: red;
  text-align: center;
  margin-top: 20px;
}

#reloadBtn {
  background-color: #007bff;
  color: rgb(202, 103, 103);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  margin: 0 auto 20px auto;
}

#reloadBtn:hover {
  background-color: #15579d;
}